<h2>Welcome to Dreamy Closet</h2>

<h3>This database project represents components of a wardrobe for lolita fashion</h3>

<p>Lolita fashion is a street fashion from Japan, think similar to Western Goth or Punk. It's both
a fashion and a subculture with a dedicated following around the world</p>

<p>
    Building a wardrobe is important to followers of the fashion. A wardrobe is made up of Items.
    Each Item has
    <br>
    a Type- is it a pair of shoes? A dress?
    <br>
    a Name- each garment has a name given to it by the designer
    <br>
    a Brand- Brands are very important, they move and shake the fashion
    <br> 
    a user- this represents who it belongs to
</p>