<h2>List of substyles:</h2>
<table class = "table">
    <thead>
        <th>
            <td>Name</td>
            <td>Description</td>
        </th>
    </thead>
    
    <tbody>
        {{#each substyles}}
        <tr>
            <td></td>
          <td>{{name}}</td>
          <td>{{description}}</td>
        </tr>
        {{/each}}
    </tbody>
    
 
</table>

<hr>
{{!--Add  a new brand--}}
<h3>Add a new substyle:</h3>
<form id="addsubstyle" action="/substyles" method="post">
<div class="form-group">
 Name: <input type="text" name="name"><br>
 Description: <input type="text" name="description"><br>
<br>
<input type="submit" value="Submit">
</div>
</form>