<h2>List of users:</h2>
<table class = "table">
    <thead>
        <th>
            <td>Name</td>
        </th>
    </thead>
    
    <tbody>
        {{#each users}}
        <tr>
          <td></td>
          <td>{{name}}</td>
        </tr>
        {{/each}}
    </tbody>
    
 
</table>

<hr>
{{!--Add  a new brand--}}
<h3>Add a new users:</h3>
<form id="addbrand" action="/users" method="post">
<div class="form-group">
 Name: <input type="text" name="name"><br>
</select><br>
<input type="submit" value="Submit">
</div>
</form>